.form-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.google-btn {
  background-color: #333;
  color: white;
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

input {
  width: 90%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #333;
  color: white;
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #0077ff;
  text-decoration: none;
}
